/* contact-line clip path */
.contact-line {
  position: relative;
}
.contact-line::before,
.contact-line::after {
  position: absolute;
  top: 0;
  height: 75%; /* adjust this value (e.g. 50%, 60%, 80%) */
  content: "";
  display: block;
  left: 0;
  border: 1px solid var(--primary-parrot-green);
  border-right: none;
  width: 50%;
  z-index: 1;
  clip-path: polygon(0 0, 90% 0, 75% 100%, 100% 100%, 0 100%, 0 0);
}
.contact-line::after {
  left: unset;
  right: 0;
  transform: rotateY(180deg);
}
