.hero-section {
  display: flex;
  justify-content: center;
}
.inner-hero-section {
  background: linear-gradient(#051d1bcc, #051d1bcc),
    url("../img/093a3bc92eb728eeb1a7faebbf711ec10715cabc.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 60px 150px 60px;
  border-radius: 22px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.slide {
  position: relative;
  color: var(--primary-parrot-green);
  font-family: "ClashGrotesk", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 0 0 0 140px;
}
.slide::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  background-color: var(--primary-parrot-green);
  width: 8%;
}
.inner-hero-section h1 {
  color: var(--white);
  font-size: 48px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  padding: 0 45% 0 0;
}
.inner-hero-section p {
  color: var(--white);
  font-family: "ClashGrotesk", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 0 55% 0 0;
}
.hero-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.btns {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.client {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #ffffff1a;
  backdrop-filter: blur(32px);
  padding: 5px 12px 5px 7px;
  border-radius: 360px;
}
.client span {
  color: var(--white);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

/* under hero section */
.how-it-work {
  display: flex;
  justify-content: center;
  padding: 120px 0;
}
.inner-how-it-works {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.inner-how-it-works > .img {
  width: 48%;
}
.inner-how-it-works > .img img {
  width: 100%;
  border-radius: 30px;
  object-fit: cover;
  height: 100%;
}
.how-works {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.how-works span {
  color: var(--secondary-orange);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.how-works h2 {
  color: var(--title-black);
  font-family: "Manrope", sans-serif;
  font-size: 36px;
  font-weight: 800;
}
.how-works p {
  color: var(--text-gray);
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

/* timeline */
.timeline-card {
  display: flex;
  align-items: center;
  gap: 20px;
}
.timeline-card span {
  color: var(--title-black);
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.timeline-line {
  padding: 0 0 0 30px;
}
