.reg-page {
  background: url("../img/a2a778e9d1caddb42db4961360835bbaefcbd12c-1.webp");
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  margin-top: -135px;
  justify-content: center;
  backdrop-filter: blur(10px);
  position: relative;
}
.reg-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(15, 47, 44, 0.82);
  z-index: -1;
}
.inner-login {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  padding: 200px 100px 0 100px;
}
.form {
  position: relative;
}

.form::before,
.form::after {
  position: absolute;
  top: 0;
  height: 78%; /* adjust this value (e.g. 50%, 60%, 80%) */
  content: "";
  display: block;
  left: 0;
  border: 1px solid var(--primary-parrot-green);
  border-right: none;
  width: 50%;
  z-index: 1;
  clip-path: polygon(0 0, 90% 0, 60% 100%, 100% 100%, 0 100%, 0 0);
}
.form::after {
  left: unset;
  right: 0;
  transform: rotateY(180deg);
}

.main-box {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 80px 160px;
}
.img {
  position: absolute;
  top: -35px;
}
