.off_white {
  background-color: var(--off-white);
}
.product-detail {
  display: flex;
  justify-content: center;
  padding: 120px 0;
}
.inner-product-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-title {
  display: flex;
  justify-content: space-between;
}
.share-save {
  display: flex;
  gap: 20px;
  align-items: center;
}
.save-btn label{
  display: flex;
  gap: 10px;
}
.share-btn a,
.save-btn span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "ClashGrotesk", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: underline;
  color: var(--title-black);
}
.share-btn:hover a,
.save-btn:hover span {
  color: var(--primary-dark-green);
}

/* product-img-showcase */
.product-img-showcase {
  display: flex;
  gap: 20px;
}
.product-showcase-main-img {
  width: 65%;
  display: flex;
}
.product-showcase-main-img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}
.product-showcase-sub-img {
  width: 35%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.product-showcase-sub-img img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.product-showcase-sub-img img:nth-child(2) {
  border-radius: 0 20px 0 0;
}
.product-showcase-sub-img img:nth-child(4) {
  border-radius: 0 0 20px 0;
}

/* heart animation start */
.heart-svg {
  width: 20px;
  height: 20px;
}
.custom-heart-toggle .heart-input {
  display: none;
  cursor: pointer;
}

.custom-heart-toggle {
  cursor: pointer;
  font-size: 20px;
  transition: 100ms;
}

.heart-icon-wrapper {
  display: flex;
  transition: 100ms;
  animation: heart-disappear-animation 400ms ease;
}

.custom-heart-toggle
  .heart-input:checked
  ~ .heart-icon-wrapper
  .heart-svg
  path {
  fill: #ff5353;
  stroke-width: 0;
}

.custom-heart-toggle .heart-input:checked ~ .heart-icon-wrapper {
  animation: heart-appear-animation 400ms ease;
}

.custom-heart-toggle:hover {
  transform: scale(1.1);
}

@keyframes heart-appear-animation {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes heart-disappear-animation {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
/* heart animation end */
