/* ================================================================== */
/* width 1366px */
/* ================================================================== */
@media (max-width: 1366px) {
}
/* ================================================================== */
/* width 1200px */
/* ================================================================== */
@media (max-width: 1200px) {
  .navigation {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--white);
    top: 0;
    right: 0;
    padding: 120px 120px 0 40px;
    align-items: start;
    height: 100vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    gap: 30px;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .burger {
    display: block;
  }

  body:has(#burger:checked) .navigation {
    /* Final state - visible */
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .navigation ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
/* ================================================================== */
/* width 1140px */
/* ================================================================== */
@media (max-width: 1140px) {
}
/* ================================================================== */
/* width 1024px */
/* ================================================================== */
@media (max-width: 1024px) {
}
/* ================================================================== */
/* width 880px */
/* ================================================================== */
@media (max-width: 880px) {
}
/* ================================================================== */
/* width 768px */
/* ================================================================== */
@media (max-width: 768px) {
}
/* ================================================================== */
/* width 550px */
/* ================================================================== */
@media (max-width: 550px) {
}
/* ================================================================== */
/* width 330px */
/* ================================================================== */
@media (max-width: 330px) {
}
