/* ================================================================== */
/* width 1366px */
/* ================================================================== */
@media (max-width: 1366px) {
}
/* ================================================================== */
/* width 1200px */
/* ================================================================== */
@media (max-width: 1200px) {
  .navigation {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: var(--white);
    top: 0;
    right: 0;
    padding: 120px 120px 0 40px;
    align-items: start;
    height: 100vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    gap: 30px;
  }

  .burger {
    display: block;
  }

  body:has(#burger:checked) .navigation {
    animation: slideInRight 0.3s ease-out forwards;
  }

  .navigation {
    animation: slideOutRight 0.3s ease-out forwards;
  }

  .navigation ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  @keyframes slideInLeft {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideOutLeft {
    to {
      opacity: 0;
      transform: translateX(-20px);
    }
  }

  @keyframes slideOutRight {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}
/* ================================================================== */
/* width 1140px */
/* ================================================================== */
@media (max-width: 1140px) {
}
/* ================================================================== */
/* width 1024px */
/* ================================================================== */
@media (max-width: 1024px) {
  .inner-footer-main {
    gap: 40px;
  }
  .footer-logo {
    width: 100%;
  }
  .info {
    width: 30.5%;
  }
  .footer-logo span {
    font-size: 22px;
  }
}
/* ================================================================== */
/* width 880px */
/* ================================================================== */
@media (max-width: 880px) {
  .footer-logo span {
    font-size: 20px;
  }
  .info {
    width: 30%;
  }
}
/* ================================================================== */
/* width 768px */
/* ================================================================== */
@media (max-width: 768px) {
  .footer-logo {
    margin-bottom: 20px;
  }
  .custom-width {
    width: 47.1%;
  }
  .custom-width-2 {
    width: 100%;
  }
  .terms-section {
    justify-content: space-evenly;
  }
}
/* ================================================================== */
/* width 550px */
/* ================================================================== */
@media (max-width: 550px) {
  .sub_email {
    width: 100%;
  }
  .inner-footer-main {
    gap: 20px;
  }
  .custom-width {
    width: 48%;
    margin-bottom: 20px;
  }
  .terms-section {
    gap: 30px;
  }
  .terms-section > div:nth-child(1) {
    order: 3;
  }
  .terms-section > div:nth-child(2) {
    order: 2;
  }
  .terms-section > div:nth-child(3) {
    order: 1;
    width: 100%;
    justify-content: center;
  }
  .social-links {
    gap: 20px;
  }
}
/* ================================================================== */
/* width 330px */
/* ================================================================== */
@media (max-width: 330px) {
}
